// Fonts

@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700,700i');

// Global styles

body {
    font-family: 'Open Sans';
    font-size: 14px;
    background: #efefef;
}

h1, h2 {
    font-weight: normal;
}

// Component imports

@import '../components/games/GameList';